body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

p {
    font-size: 14pt;
}

nav a {
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
    color: white;
}

nav a:hover {
    color: white;
    background-color: gray;
    text-decoration: none;
}

a {
    color: skyblue;
}

textarea {
    width: 80ch;
    height: 20ch;
    max-width: 100%;
    margin-bottom: 10px;
}

canvas {
    max-width: 100%;
}

#input_size {
    width: 6ch;
    margin-left: 1ch;
    margin-right: 1ch;
}

#input_fcolor {
    width: 3ch;
    margin-left: 1ch;
    margin-right: 1ch;
}

#input_bcolor {
    width: 3ch;
    margin-left: 1ch;
    margin-right: 1ch;
}

#download {
    display: none;
}